:root {
  --primary-color-alpha: #2d2d2d;
  --primary-color-beta: #797978;
  --primary-color-hover: #f2777a;
  --primary-color-notification: #64c8c8;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

#root {
  height: 100%;
}
